.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  title{
    color: #000000;
    text-decoration: double;
    justify-content: center;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: #fff;
    
  }
  
  h1 {
    color: #333;
    text-decoration: double;
    justify-content: center;
    position: relative;
    top: 50px;
    left: 50px;
    background-color: #fff;
  }
  
  .markets, .trade-types {
    margin-bottom: 20px;
  }
  
  .market-button, .trade-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .market-button {
    background-color: #3498db;
    color: #fff;
  }
  
  .trade-button {
    background-color: #2ecc71;
    color: #fff;
  }
  
  #output {
    margin-top: 20px;
    font-weight: bold;
  }
  